# Python
__pycache__/
*.pyc
voice.py
video.py
label.py

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
.vs/

# Model weights
*.pt
*.pth
*.ckpt
*.engine

# Datasets
datasets/
data/
train/
trt_cache/

# Videos
*.mp4
*.avi
*.mov
*.jpg
*.png
*.exe
*.ilk
*.obj
*.pdb

# Logs / outputs
runs/
outputs/
logs/

# OS
.DS_Store
Thumbs.db